.container{
    align-items: center;
    margin-bottom: 40px;
}

.icon{
    margin-right: 10px;
}

.weightStatus{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

.title{
    text-decoration: underline;
    margin-bottom: 15px;
    font-size: 20px;
}