.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    top: 0;
    font-size: 24px;
}

.link{
    text-decoration: none;
    color: #012a4a;
    font-weight: bold;
}