.App {
  text-align: center;
  min-height: 100vh;
  background-color: #fad675;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: #18293a;
  margin-bottom: 20px;
}

